body {
  font-family: 'Encode Sans Expanded', sans-serif;
  background-image: url("../img/Wallpaper.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 400 !important;
}

.header {
  height: 1000px;
  background-image: url("../img/header2.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: transparent;
}

a.nav-link {
  color: #293039 !important;
}

a.nav-link:hover {
  color: #fefefe !important;
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  color: #293039 !important;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

header .masthead {
  position: relative;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 7rem;
}

/* CONTENT */

.content {
  padding: 50px 200px;
}

.card-img-top:hover {
  opacity: 0.5;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.card-title {
  color: green;
}

.card-text {
  color: grey;
}

.card-text-space {
  padding: 20px;
}

.community {
  padding-top: 50px;
}

.contact {
  padding-top: 50px;
  padding-bottom: 50px;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.bg-footer {
  background-color: transparent;
}

/* Responsiveness */
@media only screen and (min-width: 320px) and (max-width: 410px){
  .header {
    width: 100%;
    background-image: url("../img/header2.png");
    background-size: contain;
  }

  .content {
    padding: 30px;
  }

  .title {
    font-size: 20px;
  }

  .card-deck-display {
    display: inline-block;
  }

  .card-body {
    padding: 30px 0px;
  }

  .card-title {
    font-size: 20px;
  }

  .card-text {
    font-size: 15px;
  }
}

@media only screen and (min-width: 411px) and (max-width: 900px){
  .header {
    width: 100%;
    background-image: url("../img/header2.png");
    background-size: contain;
  }

  .content {
    padding: 20px;
  }

  .title {
    font-size: 20px;
  }

  .card-deck-display {
    display: inline-block;
    padding: 0px 40px;
  }

  .card-body {
    padding: 30px 0px;
  }

  .card-title {
    font-size: 20px;
  }

  .card-text {
    font-size: 15px;
  }

  .image-position{
    width: 100%;
  }
}